.box > div{
  border: 1px solid ;
  overflow: hidden;
  width: 400px;
  

}
.box{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}